@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Roboto', sans-serif;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.bg-primary{
	background: #1597E5;
}
.uppercase{
	text-transform: uppercase;
}
.bg-primary-color{
	color:#1597E5;
}
.bg-second{
	color: #2429AE;
	background: white;
}
.text-right{
	text-align: right;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}
.align-self-center{
	align-self: center;
}
.align-end{
	align-content: flex-end
}
.align-self-bottom{
	align-self: flex-end;
}
.center{
	display: flex;
	align-items: center;
	justify-content: center;
}
.tieude{
	font-size: 60px;
	text-align: center;
	color: #1597E5;
}
.padding-4{
	padding: 4px;
}
.pt-1{
	padding-top: 4px;
}

.pb-1{
	padding-bottom: 4px;
}
.pb-2{
	padding-bottom: 8px;
}
.pb-3{
	padding-bottom: 12px;
}
.pl-1{
	padding-left: 4px;
}
.pl-3{
	padding-left: 12px;
}
.pr-1{
	padding-right: 4px;
}
.px-1{
	padding: 0 4px;
}
.py-1{
	padding: 4px 0;
}
.px-2{
	padding: 0 8px;
}
.px-3{
	padding: 0 12px;
	
}
/*margin*/
.m-auto{
	margin: auto !important;
}
.my-1{
	margin: 4px 0;
}
.my-3{
	margin: 12px 0;
}
.my-8{
	margin: 32px 0;
}
.mb-10{
	margin-bottom: 40px;
}
.mb-12{
	margin-bottom: 48px;
}
.mt-4{
	margin-top:16px; 
}
.mt-5{
	margin-top:20px; 
}
.mt-6{
	margin-top:24px; 
}
.mt-7{
	margin-top:28px; 
}
.mt-8{
	margin-top:32px; 
}
.mt-10{
	margin-top:40px; 
}
.mt-12{
	margin-top:48px;
}.my-12{
	margin: 48px 0;
}
.my-13{
	margin: 52px 0;
}
.my-14{
	margin: 56px 0;
}
.my-15{
	margin: 60px 0;
}

.mb-5{
	margin-bottom: 20px;
}
.mt-15{
	margin-top: 60px;
}